.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 524px;
    background-color: #073042;
    padding-top: 74px;
    background-image: url("../../images/landing_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.promo__heading {
    max-width: 730px;
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .promo {
        height: 784px;
    }
    .promo__heading {
        margin: 0 30px;
    }
}

@media screen and (max-width: 431px) {
    .promo {
        height: 570px;
    }

    .promo__heading {
        font-size: 31px;
        line-height: 39px;
        margin: 0 10px;
    }
}
