.about-project {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
}

.about-project__heading {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 23px 70px;
}

.about-project__container {
    display: flex;
    flex-direction: column;
    border-top: 1px black solid;
    margin: 0 70px 0 70px;
}

.about-project__description {
    display: flex;
    margin: 70px 0 0 0;
}

.about-project__description-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.about-project__description-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 26px 0 0 0;
}

.about_project__graph {
    display: flex;
    flex-direction: column;
    margin: 110px 0;
}

.about_project__graph-container {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.about_project__graph-progress {
    width: 20%;
    background-color: #2BE080;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 36px;
}

.about_project__graph-empty {
    width: 80%;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 36px;
}

.about_project__graph-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_project__graph-description-frontend {
    width: 20%;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
}

.about_project__graph-description-backend {
    width: 80%;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
}